[submodule "Lycoris-Loader"]
	path = Lycoris-Loader
	url = https://github.com/LostAttractor/Lycoris-Loader.git
[submodule "Lycoris-Native-Loader"]
	path = Lycoris-Native-Loader
	url = https://github.com/LostAttractor/Lycoris-Native-Loader.git
[submodule "SRGMaps"]
	path = SRGMaps
	url = https://github.com/LostAttractor/SRGMaps
