[submodule "Lycoris-Native-Loader"]
	path = Lycoris-Native-Loader
	url = https://github.com/LostAttractor/Lycoris-Native-Loader.git
[submodule "ForgeGradle"]
	path = ForgeGradle
	url = https://github.com/LostAttractor/ForgeGradle.git
